{% extends 'panda/base.html' %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

<div class="Panda-center">
	<h1 class="Panda-center">ABOUT</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur facilisis diam tincidunt purus finibus, quis faucibus tortor tempor. Nam id velit erat. Praesent eleifend sit amet lectus at vestibulum. Nulla dui ante,
        consequat vel efficitur a, egestas placerat mauris. Vivamus dictum egestas finibus. In purus purus, faucibus eget nulla ut, venenatis fringilla erat. Integer tincidunt, tellus eget eleifend consectetur, justo neque
        tincidunt orci, id luctus dui justo nec eros.
    </p>

    <p>
        Curabitur tincidunt ex eget quam imperdiet, quis ultrices mauris tempor. Pellentesque est tortor, tincidunt eget mi quis, mollis condimentum tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Nulla porttitor nibh at dignissim faucibus. Pellentesque semper nulla metus, nec lacinia turpis suscipit sit amet. Cras ac sapien efficitur, tincidunt neque pellentesque, gravida ipsum. Vivamus
        sapien massa, sodales eget neque id, blandit congue sem. Etiam sit amet commodo est. Donec vulputate posuere arcu quis sagittis. Proin velit dolor, bibendum eget metus sed, fringilla fringilla magna. Donec suscipit quis
        erat sed finibus. Etiam bibendum augue ac aliquet facilisis. Aenean imperdiet posuere hendrerit.
    </p>

    <p>
        Praesent semper volutpat risus vel accumsan. Sed dolor lacus, hendrerit rhoncus quam ut, elementum malesuada ipsum. Etiam consequat, erat vel placerat gravida, nisl nulla rhoncus odio, at ultrices quam dolor in sapien.
        Quisque sed fringilla risus, sit amet fringilla massa. Sed eleifend hendrerit odio, ac porta orci laoreet non. Suspendisse elementum, enim eget porta facilisis, elit sem efficitur leo, at semper dolor nulla at orci.
        Nulla tempor dapibus tempor. Quisque sollicitudin sit amet arcu vitae facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent tempor velit leo, non porta metus maximus sed. Proin vitae
        tincidunt elit.</p>
    <p>
        In tincidunt mauris lorem, in tincidunt magna dapibus vitae. Nulla pretium massa orci, nec vulputate mi lobortis sit amet. Morbi at sagittis lorem. Sed id nisi ut purus pellentesque auctor ut ut eros. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Mauris aliquet tempus efficitur. Suspendisse at magna tincidunt, fermentum lectus eu, commodo ipsum. Curabitur ut semper nulla.
    </p>

    <p>
        Proin tristique accumsan tincidunt. Vivamus pretium feugiat erat nec convallis. Duis porta et est quis ullamcorper. Nulla imperdiet maximus sem. Donec fermentum tempor tellus. Pellentesque cursus aliquet tortor sed
        rhoncus. Mauris vel arcu a velit tempus semper. Mauris magna diam, sodales et ex sit amet, semper aliquam elit. Sed vulputate ultrices fringilla. Cras lacinia libero ac ornare scelerisque.
    </p>

</div>
{% endblock %}