{% extends 'panda/base.html' %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

<h1> Welcome to Panda</h1>
<p>This is a place for you to meet like minded games</p>
<p>You can find gamers with similar interests to yourself</p>
<p>and play with them on your chosen platforms!!</p>
<p></p>
<p>You can even rate the other players based on how well</p>
<p>they performed in game, were they greedy? Or did they share the loot?</p>
<p></p>
<p>Feel free to rate the games as well, let other players know</p>
<p>what they're getting into before they buy it!!</p>
<p>Enjoy!</p>


</div>
{% endblock %}