{% extends 'panda/base.html' %}

{% block title_block %}
    Games
{% endblock %}

{% block body_block %}

                  Search: <input type="text" id="searchtext" name="search" value="" size="50" />
                  <input type="submit"  value="search" onclick = "search()" />

                 <div id = "content" ></div>

<script>
function search() {
   var query = document.getElementById("searchtext").value;
   var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("content").innerHTML =
      this.responseText;
    }
  };
  xhttp.open("GET", ("/panda/search/games?query=" + query + ""), true);
  xhttp.send();
}
</script>
          <div>
               {% if games %}
                       <h1> Games</h1>
                   {% for catergory in games %}
						<div class='catergory'>
						<highlight><toggleButton><strong>{{ catergory.0.get_catergory_display }} </strong></toggleButton></highlight>
					    <ul>
                           {% for game in catergory %}
									<catGames><li><highlight> <a href="/panda/game/{{ game.slug }}">{{game.name}}</a> : <i>
									   {% if game.rating != -1 %}
										   {{game.rating}}
									   {% else %}
										   unrated
									   {% endif %}
								   </i></highlight></li></catGames>

                           {% endfor  %}

                       </ul>
                       <br/>
					   </div>

                   {% endfor %}
               {% else %}
                   <strong> There are no games present.</strong>
        </div>


    {%  endif %}

{% endblock %}