<!-- Allows players to edit their accounts details -->
{% extends 'panda/base.html' %}

{% block title %} Edit profile {% endblock %}
{% block body_block %}


{% if player %}
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
    </form>

    <a href = '{% url 'delete_profile' %}'>Delete Account</a>

{% else %}


{% if not request.user.is_superuser %}
    <highlight>
    <a href ="{% url 'edit_studio_profile' %}" >To edit Studio details go here</a>
    </highlight>
{% else %}
    Admin cannot edit player details from here
{% endif %}

{% endif %}
{% endblock %}