{% extends 'panda/base.html' %}

{% block title_block %}
    {{ game.name }}
{% endblock %}



{% block body_block %}

    <body>
        <div>
            {%  if game %}

                <h1>{{ game.name }}</h1>

                <h2>{{game.studio}}</h2>

                <h3>{{ game.get_catergory_display }}</h3>

                <h4>Extract</h4>
                {{game.extract}}

                <h4>Rating</h4>

                {% if game.rating != -1 %}
                    {{game.rating}}

                {% else %}
                    <i>unrated</i>

                {% endif %}

                <a href ="/panda/game/{{game.slug}}/make_rating" >Make a rating</a>

                <h4>Site</h4>
                <a href="{{game.site}}" target="_blank"> {{game.site}} </a>

                <h4>Released</h4>
                {{game.date}}

                <h4>Platform</h4
                <ul>
                    {%if game.Playstation %}
                    <li>Playstation</li>
                    {% endif %}

                    {%if game.Xbox %}
                    <li>Xbox</li>
                    {% endif %}

                    {%if game.PC %}
                    <li>PC</li>
                    {% endif %}

                    {%if game.Nintendo %}
                    <li>Nintendo</li>
                    {% endif %}

                    {%if game.Mobile %}
                    <li>Playstation</li>
                    {% endif %}

                <h4> Players : {{game.players.count}}</h4>
                <ul>
                    {% if user.is_authenticated %}
                        {% for player in game.players.all %}
                            <li><a href = "/panda/player/{{player.slug}}/">{{player.user.username}} </a></li>
                        {% endfor %}
                        {% if player %}
                            {% if played %}
                                <a href = "/panda/game/{{game.slug}}/remove_player">Remove from my games</a>
                            {% else %}
                                <a href = "/panda/game/{{game.slug}}/add_player">Add to my games</a>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        <i>Login to view</i>
                    {% endif %}

                </ul>

                <h4> Comments : {{game.comments.count}}</h4>
                <ul>
                        {% for comment in game.comments.all %}
                            <li><b>{{comment.player}}</b> : {{comment.comment}}</li>
                        {% endfor %}
                </ul>

                <a href ="/panda/game/{{game.slug}}/make_comment" >Make a comment</a>
                {% if owner %}
                    <a href ="/panda/game/{{game.slug}}/edit_game_profile" >Edit game profile</a>
                {% endif %}
                {% else %}

                    The specified game does not exist!
                    <a href = '{% url "games" %}'>Return</a>

            {%  endif %}

        </div>

{% endblock %}