{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block script_block %}
     <script src='{% static "ajax/search.js"%} '></script>
     <script src='{% static "js/gameCatShow-jquery.js" %}'></script>
{% endblock %}

{% block title_block %}
    Games
{% endblock %}

{% block body_block %}

                  Search: <input type="text" id="searchtext" name="search" value="" size="50" />
                  <input type="submit"  id="search" value="search" onclick = "search('games')" />
                  <input type="submit"  id="clear" value="clear" onclick = "hide()" />

                 <div id = "content" ></div>

    Click category to reveal games

          <div>
               {% if games %}
                       <h1> Games</h1>
                   {% for catergory in games %}
						<div class='catergory'>
						<highlight><toggleButton><strong>{{ catergory.0.get_catergory_display }} </strong></toggleButton></highlight>
					    <ul>
                           {% for game in catergory %}
									<catGames><li><highlight> <a href="/panda/game/{{ game.slug }}">{{game.name}}</a> : <i>
									   {% if game.rating != -1 %}
										   {{game.rating}}
									   {% else %}
										   unrated
									   {% endif %}
								   </i></highlight></li></catGames>

                           {% endfor  %}

                       </ul>
					   </div>

                   {% endfor %}
               {% else %}
                   <strong> There are no games present.</strong>
    {% endif %}
      </div>

{% endblock %}