{% extends 'panda/base.html' %}
{% load staticfiles %}

{% block script_block %}
     <script src='{% static "ajax/search.js"%} '></script>
     <script src = '{% static "js/dropdownBox.js" %}'></script>
     <script src = '{% static "ajax/recommend.js" %}'></script>
     <link rel="stylesheet" href="{% static 'css\dropbox.css' %}">

{% endblock %}

{% block title_block %}
    {{ game.name }}
{% endblock %}



{% block body_block %}
    <div>
            {%  if game %}

                <h1 class="panda-center" font-family="Lato-Black">{{ game.name }}</h1>
				{% if request.user.is_superuser %}
    
                     <a href ="{% url 'forum_dashboard'%}" >Forum </a>
   
                  {% else %}
				  <a href ="{% url 'topic_list'%}" >Forum </a>
                  {% endif %}
				

                <h2><a href = "/panda/studio/{{ game.studio.slug }}">{{game.studio.name}}</a></h2>

                <img src="{{ MEDIA_URL }}{{game.picture}}" style="width:70%" alt = "Game cover art"/>

                <h3>{{ game.get_catergory_display }}</h3>

                <h4>Extract</h4>
                {{game.extract}}

                <h4>Rating</h4>

                {% if game.rating != -1 %}
                    {{game.rating}}

                {% else %}
                    <i>unrated</i>

                {% endif %}

                <highlight>
                {% if not user.is_authenticated %}
                <NL>
                {% endif %}
                <a href ="/panda/game/{{game.slug}}/make_rating" >Make a rating</a>
                 {% if not user.is_authenticated %}
                 </NL>
                 {% endif %}

                </highlight>


                <h4>Site</h4>
                <highlight>
                <a href="{{game.site}}" target="_blank"> {{game.site}} </a>
                </highlight>

                <h4>Released</h4>
                {{game.date}}

                <h4>Platform</h4>
                <ul>
                    {%if game.Playstation %}
                    <li>Playstation</li>
                    {% endif %}

                    {%if game.Xbox %}
                    <li>Xbox</li>
                    {% endif %}

                    {%if game.PC %}
                    <li>PC</li>
                    {% endif %}

                    {%if game.Nintendo %}
                    <li>Nintendo</li>
                    {% endif %}

                    {%if game.Mobile %}
                    <li>Playstation</li>
                    {% endif %}
                </ul>

                <h4> Players : {{game.players.count|add:game.comp_players.count}}</h4>
                <h5> Casual Players : {{game.players.count }}</h5>
                <h5> Competitive Players : {{game.comp_players.count}}</h5>
                    {% if user.is_authenticated %}
                        {% if game.players %}
                         <button type="button" onclick="loadPlayers('{{ game.slug }}', 'all')">Show All Players</button>
                         <button type="button" onclick="loadPlayers('{{ game.slug }}', 'casual')">Show Casual Players</button>
                         <button type="button" onclick="loadPlayers('{{ game.slug }}', 'comp')">Show Competitive Players</button>
                         <button type="button" onclick="hide()">Hide Players</button>
                         <div id="content">
                         </div>
                        {% endif %}
                        {% if player %}
                            {% if played %}
                                <highlight>
                                <a href = "/panda/game/{{game.slug}}/remove_player">Remove from my games</a>
                                </highlight>
                            {% else %}
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn">Add to my games</button>
                                    <div id="addPlayers" class="dropdown-content">
                                        <a href = "/panda/game/{{game.slug}}/add_player?type=casual">Casual</a>
                                        <a href = "/panda/game/{{game.slug}}/add_player?type=comp">Competitive</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <highlight><NL>
                        	<a href="{% url 'login' %}?next={{ request.path|urlencode }}"><i>Login to view</i></a>
                        </NL></highlight>
                    {% endif %}


                </ul>

                <h4> Comments : {{game.comments.count}}</h4>
                <ul>
                        {% for comment in game.comments.all %}
                            <li><b>{{comment.player}}</b> : {{comment.comment}}</li>
                            {% if comment.player.user == user %} <a href = "/panda/game/{{game.slug}}/{{comment.id}}/edit_comment/"> Edit </a> &nbsp;&nbsp;&nbsp;&nbsp; <a href = "/panda/game/{{game.slug}}/{{comment.id}}/delete_comment/"> Delete </a> {% endif %}
                        {% endfor %}
                </ul>


                <highlight>
                {% if not user.is_authenticated %}
                <NL>
                {% endif %}
                <a href ="/panda/game/{{game.slug}}/make_comment" >Make a comment</a>
                {% if not user.is_authenticated %}
                 </NL>
                 {% endif %}
                </highlight>

                {% if owner %}
                    <highlight>
                    <a href ="/panda/game/{{game.slug}}/edit_game_profile" >Edit game profile</a>
                    </highlight>
                {% endif %}
        </div>
        <br>

         {% if world_players %}
             <strong>World Players : </strong> {{world_players}} <br>
         {% endif %}
        {% if news %}
            <strong>News</strong> <br>
            {% for item in news %}
                <b>{{item.title}} </b> <br>
                {{item.contents |safe }} <br>
                <a href = "{{item.url}}" target="_blank"> Read more</a> <br>
            {% endfor %}
        {% endif %}
    <h3>Recommended games</h3>
    <div id = "RecommendGame">
    {% include 'panda/../Snippets/gameSnippet.html' with games=game.recommend.all %}
    </div>

    {%  if player %}
    <div id="options">
        <select id="recommending">
        {% for other in others %}
            <option value="{{ other.slug }}">{{ other.name }}</option>
        {% endfor %}
        </select>
    </div>
        <input type="submit"  id="submit" value="submit" onclick = "add('{{ game.slug }}')" />
    {%  endif %}

{% else %}
                    The specified game does not exist!
                    <highlight>
                    <a href = '{% url "games" %}'>Return</a>
                    </highlight>

            {%  endif %}


{% endblock %}