{% extends 'panda/base.html' %}

{% block title_block %}
    {{ game.name }}
{% endblock %}



{% block body_block %}

    <body>
        <div>
            {%  if game %}

                <h1 class="panda-center" font-family="Lato-Black">{{ game.name }}</h1>
				
				<a href ="{% url 'forum_dashboard'%}" >Forum </a>

                <h2>{{game.studio}}</h2>

                <img src="{{ MEDIA_URL }}{{game.picture}}" alt = "Game cover art"/>

                <h3>{{ game.get_catergory_display }}</h3>

                <h4>Extract</h4>
                {{game.extract}}

                <h4>Rating</h4>

                {% if game.rating != -1 %}
                    {{game.rating}}

                {% else %}
                    <i>unrated</i>

                {% endif %}

                <highlight>
                {% if not user.is_authenticated %}
                <NL>
                {% endif %}
                <a href ="/panda/game/{{game.slug}}/make_rating" >Make a rating</a>
                </NL>
                </highlight>


                <h4>Site</h4>
                <highlight>
                <a href="{{game.site}}" target="_blank"> {{game.site}} </a>
                </highlight>

                <h4>Released</h4>
                {{game.date}}

                <h4>Platform</h4
                <ul>
                    {%if game.Playstation %}
                    <li>Playstation</li>
                    {% endif %}

                    {%if game.Xbox %}
                    <li>Xbox</li>
                    {% endif %}

                    {%if game.PC %}
                    <li>PC</li>
                    {% endif %}

                    {%if game.Nintendo %}
                    <li>Nintendo</li>
                    {% endif %}

                    {%if game.Mobile %}
                    <li>Playstation</li>
                    {% endif %}

                <h4> Players : {{game.players.count}}</h4>
                <ul>

                    {% if user.is_authenticated %}

                        {% for player in game.players.all %}
                            <highlight>
                            <li><a href = "/panda/player/{{player.slug}}/">{{player.user.username}} </a></li>
                            </highlight>
                        {% endfor %}
                        {% if player %}
                            {% if played %}
                                <highlight>
                                <a href = "/panda/game/{{game.slug}}/remove_player">Remove from my games</a>
                                </highlight>
                            {% else %}
                                <highlight>
                                <a href = "/panda/game/{{game.slug}}/add_player">Add to my games</a>
                                </highlight>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        <highlight><NL>
                        	<a href="{% url 'login' %}?next={{ request.path|urlencode }}"><i>Login to view</i></a>
                        </NL></highlight>
                    {% endif %}

                </ul>

                <h4> Comments : {{game.comments.count}}</h4>
                <ul>
                        {% for comment in game.comments.all %}
                            <li><b>{{comment.player}}</b> : {{comment.comment}}</li>
                            {% if comment.player.user == user %} <a href = "/panda/game/{{game.slug}}/{{comment.id}}/edit_comment/"> Edit </a><a href = "/panda/game/{{game.slug}}/{{comment.id}}/delete_comment/"> Delete </a> {% endif %}
                        {% endfor %}
                </ul>


                <highlight>
                {% if not user.is_authenticated %}
                <NL>
                {% endif %}
                <a href ="/panda/game/{{game.slug}}/make_comment" >Make a comment</a>
                </NL>
                </highlight>

                {% if owner %}
                    <highlight>
                    <a href ="/panda/game/{{game.slug}}/edit_game_profile" >Edit game profile</a>
                    </highlight>
                {% endif %}
                {% else %}

                    The specified game does not exist!
                    <highlight>
                    <a href = '{% url "games" %}'>Return</a>
                    </highlight>

            {%  endif %}

        </div>
        <br>

         {% if world_players %}
             <strong>World Players : </strong> {{world_players}} <br>
         {% endif %}
        {% if news %}
            <strong>News</strong> <br>
            {% for item in news %}
                <b>{{item.title}} </b> <br>
                {{item.contents |safe }} <br>
                <a href = "{{item.url}}" target="_blank"> Read more</a> <br>
            {% endfor %}
        {% endif %}

{% endblock %}