{% extends 'panda/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Home
{% endblock %}

{% block script_block %}
     <script src='{% static "js/index.js" %}'></script>
{% endblock %}

{% block body_block %}
		
			<h7>Player
			    and <br>
				Networking <br>
				Database   <br>
				Application. <br>
			</h7>

		<div class="Panda-left" >
               {% if games %}
            <ul class="Panda-right" >
                <strong> Top Five games</strong>
                   {% include 'panda/../Snippets/gameSnippet.html' with games=games class=True %}
            {% else %}
                <strong> There are no games present.</strong>
            {%  endif %}

            </ul>
			
			{% if players %}
			<ul >
			<strong class="Panda-left"> Top Five Players</strong>
                {% if user.is_authenticated %}
                     {% include 'panda/../Snippets/playerSnippet.html' with players=players class=True %}
                {% else %}
                {% for player in players %}
                    <highlight><NL>
                    <li >{{ player.user.username }} : <i>{{player.rating}}</i> {% if player.approved %}
             <img src="{% static '/images/approved.png'%}" alt = "Approved Tick" id="approved"/>
         {% endif %} </li>
                    </NL></highlight>
                {% endfor  %}
                {% endif %}
            </ul>
            {% else %}
                <strong> There are no players present.</strong>
            {%  endif %}
        </div>
{% endblock %}




			