{% extends 'panda/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
        <div class="panda-row">
               {% if games %}
            <ul class="panda-col 1">
                <strong> Top Five games</strong>
                {% for game in games %}
                    <li><a href="/panda/game/{{ game.slug }}">{{game.name}}</a> : <i>{{game.rating}}</i></li>

                {% endfor  %}
            </ul>
            {% else %}
                <strong> There are no games present.</strong>
            {%  endif %}
        

        
               {% if players %}
            <ul class="panda-col 2">
                <strong> Top Five Players</strong>
                {% for player in players %}
                    <li>{{ player.user.username }} : <i>{{player.rating}}</i></li>

                {% endfor  %}
            </ul>
            {% else %}
                <strong> There are no players present.</strong>
            {%  endif %}
        </div>

{% endblock %}