{% extends 'panda/base.html' %}

{% block title_block %}
    {{studio.name}}
{% endblock %}

{% block body_block %}

    <body>
        <div>
                <h1>{{ studio.name }}</h1>

                <h4>Games</h4>
                <ul>

                {% for game in games %}
                    <highlight>
                    <li><a href="/panda/game/{{ game.slug }}">{{game.name}}</a> </li>
                    </highlight>
                {% endfor %}

                </ul>

                <highlight>
                <a href = "{% url 'register_game' %}">Register new game</a>
                </highlight>

                <highlight>
                <a href = "{% url 'edit_studio_profile' %}"> Edit details</a>
                </highlight>

        </div>

{% endblock %}