{% extends 'panda/base.html' %}

{% block title_block %}
    {{studio.name}}
{% endblock %}

{% block body_block %}

    <div>
            <h1>{{ studio.name }}</h1>

            <h4>Games</h4>

            {% include 'panda/../Snippets/gameSnippet.html' with games=games %}

            <highlight>
            <a href = "{% url 'register_game' %}">Register new game</a>
            </highlight>

            <highlight>
            <a href = "{% url 'edit_studio_profile' %}"> Edit details</a>
            </highlight>

    </div>

{% endblock %}