{% extends 'panda/base.html' %}

{% load staticfiles %}

{% block script_block %}
     <script src='{% static "ajax/search.js"%} '></script>
{% endblock %}

{% block title_block %}
    Players
{% endblock %}

{% block body_block %}

     Search: <input type="text" id="searchtext" name="search" value="" size="50" />
                  <input type="submit"  id="search" value="search" onclick = "search('players')" />
                  <input type="submit"  id="clear" value="clear" onclick = "hide()" />

                 <div id = "content" ></div>

          <div>
               {% if players %}
            <ul>
                <strong> Players</strong>
                {% for player in players %}
                    <highlight>
                    <li><a href="/panda/player/{{ player.slug }}">{{ player.user.username }}</a> : <i>
                    {% if player.rating != -1 %}
                        {{player.rating}}
                    {% else %}
                        unrated
                    {% endif %}

                    </i></li>
                    </highlight>
                {% endfor  %}
            </ul>
            {% else %}
                <strong> There are no players present.</strong>
            {%  endif %}
        </div>
{% endblock %}