{% extends 'panda/base.html' %}

{% block title_block %}
 Rate {{player.user.username}}
{% endblock %}


{% block body_block %}

    {% if player %}

        <h1>Rate {{player.user.username}}</h1>

        Your current rating is : {{value}}

        <div>

            <form id = "player_rating_form" method="post" action="/panda/player/{{ player.slug }}/make_rating/" />

                {% csrf_token %}

                {% for hidden in form.hidden_fields %}

                    {{hidden}}

                {% endfor %}


                {% for field in form.visible_fields %}

                    {{ field.errors }}

                    {{ field.help_text }}

                    {{ field }}

                {% endfor %}

            <input type="submit" name="submit" value="Make Rating" />



            </form>

        </div>

        {% else %}
            {% if request.user.is_superuser %}
                Admin cannot make comments
                <a href = '/panda/player/{{return}}/'>Return</a>
            {% elif player_warning %}
                You cannot rate yourself
                <highlight>
                <a href = '/panda/player/{{return}}/'>Return</a>
                </highlight>

            {%elif studio_warning %}
                Studios cannot make comments

                <highlight>
                <a href = '/panda/player/{{return}}/'>Return</a>
                </highlight>
            {% else %}
                A game by this name does not exist
                <highlight>
                <a href = '{% url "players" %}'>Return</a>
                </highlight>
            {% endif %}


        {% endif %}

{% endblock %}