{% extends 'panda/base.html' %}

{% block title_block %}
 Add new game
{% endblock %}



{% block body_block %}

    {% if studio %}

        <h1>Add game</h1>

        <div>

            <form id = "game_register_form" method="post" action="{% url 'register_game' %}" />
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="submit" value="Register game" />
            </form>

        </div>

       {% else %}
                Players cannot register games
                <a href = '{% url "games" %}'>Return</a>


        {% endif %}

{% endblock %}