<!-- Form for players and studios to report toxic players -->
{% extends 'panda/base.html' %}

{% block title_block %}
 Report {{ player.user.username }}
{% endblock %}



{% block body_block %}

    {% if player %}

        <h1>Report {{ player.user.username }}</h1>

        <div>

            <form id = "player_report_form" method="post" action="/panda/report/{{ player.slug }}/" />

                {% csrf_token %}
                {{ form.as_p }}

            <input type="submit" name="submit" value="Report player" />



            </form>

        </div>

       {% else %}
                Cannot Report Player as they do not exist
                <a href = '{% url "players" %}'>Return</a>


        {% endif %}

{% endblock %}