{% extends 'panda/base.html' %}

{% block title_block %}
    Sign up
{% endblock %}

{% block body_block %}


    <h1>Register for Panda</h1>
    {% if registered %}

        <strong>Thank you for signing up!</strong>
        <a href="{% url 'index' %}">Return to the homepage.</a><br>

    {% else %}

        <strong>Register here!</strong><br />
        
        <form id="user_form" method="post" action="{% url 'sign_up' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register"/>

    </form>
    {% endif %}

{% endblock %}