{% extends 'panda/base.html' %}

{% block title_block %}
    Games
{% endblock %}

{% block body_block %}
          <div>
                       <h1> Games</h1>
						<div class='catergory'>
							<toggleButton><highlight><strong>Adam's cool code</strong><highlight></toggleButton>
                        </div>
					    <ul>							
						<catGames><li><highlight> Game1 <i></i></highlight></li>
						<li><highlight> Game2 <i></i></highlight></li>
						<li><highlight> Game3 <i></i></highlight></li>
						<li><highlight> Game4 <i></i></highlight></li></catGames>
         
						 
                       </ul>
                       <br/>
{% endblock %}