
{% load static forum_tags thumbnail  %}
{% load forum_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Game Forum</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-suggest.css' %}">
      
   </head>
   <body>
   <header>
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header pad_lr_0 col-md-3 col-sm-3 col-xs-4">
          <a class="navbar-brand" href="{% url "topic_list" %}">Game Forum</a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-8 pad_lr_0 nav_right text-right">
            <div class="row no_row_margin header_right">
               

              <ul class="login_block">
              {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}?next={{ request.path|urlencode }}" ><i class="fa fa-sign-in"></i> <span>Sign In</span></a></li>
                <li><a href="{% url 'signup'%}" ><i class="fa fa-plus-circle"></i> <span>Sign Up</span></a></li>
              {% else %}
                <a id="top6" href="{% url 'logout'%}" class="Panda-bar-item Panda-button Panda-right"><i class="fas fa-sign-in-alt"></i>  Log Out</a>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </nav>
   </header>

   <div class="main_container">
    <div class="container">
        <div class="row middle_container">
      {% get_categories %}
    {% block stage %}
    {% endblock %}
        </div>
    </div>
   </div>

   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://malsup.github.com/jquery.form.js"></script>
	<script src='{% static "js/jquery.min.js" %}'></script>
     <script src='{% static "js/panda-jquery.js" %}'></script>
     <script src='{% static "js/googleCSE.js" %}'></script>
     <script src='{% static "js/hideDisplay-jquery.js" %}'></script>
      <script src='{% static "ajax/jquery-2.1.0.min.js" %}'></script>
     <script src='{% static "ajax/app.js"%} '></script>
	 <script src='{% static "js/index.js" %}'></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <!-- ck editor -->
    <script src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script type="text/javascript" src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-suggest.js' %}"></script>
   <!-- select2 -->
   <script>
    $( document ).ready(function() {
      $('#myModal').modal('hide');
      $('#myModal').on('hidden', function () {
        // Load up a new modal...
        $('#myModal1').modal('show')
      });
      $(".select2").select2({
        tags: true
      });
      $(".js-example-basic-single, .js-example-basic-single1").select2();
    });
   </script>


    {% block extra_js %}
    {% endblock %}

  
</html>
