
{% load static forum_tags thumbnail  %}
{% load forum_tags %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Game Forum</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-suggest.css' %}">
      
   </head>
   <body>
   <header>
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header pad_lr_0 col-md-3 col-sm-3 col-xs-4">
          <a class="navbar-brand" href="{% url "topic_list" %}">Game Forum</a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-8 pad_lr_0 nav_right text-right">
            <div class="row no_row_margin header_right">
               

              <ul class="login_block">
              {% if not request.user.is_authenticated %}
                <li><a href="#" data-toggle="modal" data-target="#demo-1"><i class="fa fa-sign-in"></i> <span>Sign In</span></a></li>
                <li><a href="#" data-toggle="modal" data-target="#demo-2"><i class="fa fa-plus-circle"></i> <span>Sign Up</span></a></li>
              {% else %}
                <a id="top6" href="{% url 'logout'%}" class="Panda-bar-item Panda-button Panda-right"><i class="fas fa-sign-in-alt"></i>  Log Out</a>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </nav>
   </header>

   <!-- Modal -->
    <div class="modal fade login_modal" id="demo-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="row login_row">
              <div class="login_form col-md-7">
                  <form name="loginform" id="loginform" method="post">
                     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" placeholder="Email" id="username" name="username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" placeholder="Password" name="password" id='password'>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                    <div class="forgot_create">
                      <a href="#" data-toggle="modal" data-target="#demo-3" data-dismiss="modal">Forgot Password?</a>
                      <a href="#" class="pull-right" data-toggle="modal" data-target="#demo-2" data-dismiss="modal">Don't have Account</a>
                    </div>
                  </form>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

       <!-- Modal -->
    <div class="modal fade login_modal" id="demo-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create Account</h4>
          </div>
          <div class="modal-body">
            <div class="row login_row">
              <div class="login_form col-md-7">
                  <form name="registerform" id="registerform" method="post">
                     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" placeholder="Email" name='email' id="email">
                    </div>
                     <div class="form-group">
                      <label for="exampleInputEmail1">User Name</label>
                      <input type="text" class="form-control" placeholder="User Name" name='username' id="username">
                    </div>
                     <div class="form-group">
                      <label for="exampleInputEmail1">Full Name</label>
                      <input type="text" class="form-control" placeholder="Full Name" name='first_name' id="first_name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-default">Create Account</button>
                    <div class="forgot_create">
                      <a href="#" data-toggle="modal" data-target="#demo-1" data-dismiss="modal">Existed Account ?<strong>Login </strong></a>
                    </div>
                  </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Modal -->
    <div class="modal fade login_modal" id="demo-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
          </div>
          <div class="modal-body">
            <div class="row login_row">
              <div class="login_form col-md-12">
                  <form name="forgotpasswordform" id="forgotpasswordform" method='post'>
                     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" placeholder="Email" name="email" id="forgot-email">
                    </div>
                    <button type="submit" class="btn btn-default forgot_btn">Submit Email</button>
                    <div class="forgot_create">
                      <a href="#" data-toggle="modal" data-target="#demo-1" data-dismiss="modal">Existed Account ?<strong>Login </strong></a>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade login_modal" id="demo-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Change Password</h4>
          </div>
          <div class="modal-body">
            <div class="row login_row">
              <div class="login_form col-md-12">
                  <form name="changepasswordform" id="changepasswordform" method='post'>
                     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputEmail1">New Password</label>
                      <input type="password" class="form-control" placeholder="Enter Your New Password Here" name="newpassword" id="newpassword">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Retype Password</label>
                      <input type="password" class="form-control" placeholder="Enter Your New Password Here" name="retypepassword" id="retypepassword">
                    </div>
                    <button type="submit" class="btn btn-default forgot_btn">Change</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="main_container">
    <div class="container">
        <div class="row middle_container">
      {% get_categories %}
    {% block stage %}
    {% endblock %}
        </div>
    </div>
   </div>

   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://malsup.github.com/jquery.form.js"></script>
	<script src='{% static "js/jquery.min.js" %}'></script>
     <script src='{% static "js/panda-jquery.js" %}'></script>
     <script src='{% static "js/googleCSE.js" %}'></script>
     <script src='{% static "js/hideDisplay-jquery.js" %}'></script>
      <script src='{% static "ajax/jquery-2.1.0.min.js" %}'></script>
     <script src='{% static "ajax/app.js"%} '></script>
	 <script src='{% static "js/index.js" %}'></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <!-- ck editor -->
    <script src="https://cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script type="text/javascript" src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-suggest.js' %}"></script>
   <!-- select2 -->
   <script>
    $( document ).ready(function() {
      $('#myModal').modal('hide');
      $('#myModal').on('hidden', function () {
        // Load up a new modal...
        $('#myModal1').modal('show')
      });
      $(".select2").select2({
        tags: true
      });
      $(".js-example-basic-single, .js-example-basic-single1").select2();
    });
   </script>


    {% block extra_js %}
    {% endblock %}

  
</html>
