{% load endless %}
{% topic_list %}

{% for topic in topic_list %}
  <div class="topic_block">
    <div class="topic_title">
    <a href="#">{{ topic.title }}</a>
    </div>
    <div class="topic_options">
     <span class="category"><a href="#" class="gaming">{{ topic.category.title }} </a></span><span class="activity">Updated on {{ topic.updated_on }}</span>
    <span class="reply"><a href="#"><i class="fa fa-reply"></i>Replies 123 </a></span>
    <span class="views"><a href="#"><i class="fa fa-eye"></i> Views {{ topic.no_of_views }} </a></span>
    <span class="likes"><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes {{ topic.no_of_likes }} </a></span>
    </div>
     <br clear="all">
  </div>
{% endfor %}

<div class="pagination">
    {% show_pages %}</div>
